body {
    background-image:url(wall.jpeg);
    background-position:center;
    background-size:center;
}

    #heading{
        text-align: center;
        color:white;
        font-size: 50px;
        margin-top: 50px;
        font-family: pafico;
    }

    #logout
     { 
         font-size: 20px; 
         float: right;
         } 

         #output
         {
             background-color: azure;
             width: fit-content;
             padding: 50px;
             border-radius: 25px;
         }